/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-weight: normal;
  font-family: "SourceSerifPro-Semibold";
  font-style: normal;
  src: url("../fonts/SourceSerifPro-Semibold.woff2") format("woff2"), url("../fonts/SourceSerifPro-Semibold.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "SourceSerifPro-Bold";
  font-style: normal;
  src: url("../fonts/SourceSerifPro-Bold.woff2") format("woff2"), url("../fonts/SourceSerifPro-Bold.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-family: "SourceSerifPro-Regular";
  font-style: normal;
  src: url("../fonts/SourceSerifPro-Regular.woff2") format("woff2"), url("../fonts/SourceSerifPro-Regular.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-family: "SourceSerifPro-Light";
  font-style: normal;
  src: url("../fonts/SourceSerifPro-Light.woff2") format("woff2"), url("../fonts/SourceSerifPro-Light.woff") format("woff"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/header__bg--mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  max-width: 420px;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto; }

.logotype {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.4); }

.page-header__top {
  position: relative; }

.page-header__section-left {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }

.page-header__section-right {
  display: none;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left; }

.page-header__phone {
  text-decoration: none;
  color: #1d1c1c;
  font-family: "SourceSerifPro-Semibold";
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px; }

.page-header__main {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: auto;
  width: 100%; }

.page-header__title {
  font-size: 36px;
  color: #fff;
  font-family: "SourceSerifPro-Semibold";
  text-align: left; }

.page-header__text {
  width: 260px;
  font-size: 16px;
  color: #ecebea;
  font-family: "SourceSerifPro-Light"; }

.page-header__social {
  display: none; }

@media (min-width: 768px) {
  .page-header {
    max-width: 100%;
    background-image: none;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .overlay {
    display: none; }
  .page-header__section-left {
    width: 60%;
    background-color: #f8f8f8;
    height: 100vh; }
  .page-header__section-right {
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 40%;
    height: 100vh;
    background-image: url(../img/header-bg__tablet--two.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .page-header__phone {
    margin-bottom: auto; }
  .logotype__image {
    width: 200px; }
  .page-header__bg-overlay {
    width: 100%;
    height: 490px;
    display: block;
    margin-left: -100px;
    background-image: url(../img/header__bg--tablet.jpg);
    background-repeat: no-repeat; }
  .page-header__main {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    height: 100%;
    width: 80%; }
  .page-header__title {
    font-size: 36px;
    color: #1d1c1c;
    font-family: "SourceSerifPro-Semibold";
    text-align: left;
    position: relative;
    z-index: 1; }
    .page-header__title::before {
      content: 'Food';
      display: inline-block;
      position: absolute;
      top: -20px;
      left: -30px;
      color: #fff;
      font-family: "SourceSerifPro-Semibold";
      font-size: 42px;
      z-index: -1; }
    .page-header__title::after {
      content: 'Photogrphy';
      display: block;
      position: absolute;
      bottom: -20px;
      left: 80px;
      color: #fff;
      font-family: "SourceSerifPro-Semibold";
      font-size: 38px;
      z-index: -1; }
  .page-header__text {
    width: 260px;
    font-size: 16px;
    color: #747474;
    font-family: "SourceSerifPro-Light"; }
  .page-header__social {
    display: block;
    color: #cecece;
    font-size: 12px;
    margin-top: 100px; } }

@media (min-width: 1200px) {
  .page-header {
    max-width: 100%; }
  .page-header__section-left {
    width: 50%; }
  .page-header__section-right {
    width: 50%;
    background-image: url(../img/header-bg__desktop--two.jpg);
    background-size: cover;
    background-position: bottom; }
  .page-header__phone {
    margin-left: 20%;
    color: #747474; }
  .page-header__bg-overlay {
    width: 100%;
    height: 480px; }
  .list-desktop .list-desktop__item:nth-child(1)::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 4px;
    right: 5%;
    background-color: #fff;
    top: 45%;
    opacity: .5; }
  .page-header__title {
    font-size: 48px; }
  .page-header__text {
    font-size: 18px; }
  .page-header__title {
    z-index: 2; }
    .page-header__title::before {
      font-size: 54px; }
    .page-header__title::after {
      bottom: -30px;
      font-size: 50px; }
  .page-header__social {
    margin-top: 100px;
    font-size: 14px; } }

.portfolio {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  max-width: 420px;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  padding-top: 100px; }

.portfolio__wrapper {
  background-color: #fff;
  height: auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin: 0 auto; }

.portfolio__column {
  width: 90%;
  padding-bottom: 60px; }
  .portfolio__column:nth-child(3) {
    padding-bottom: 0; }

.portfolio__item--one {
  margin-bottom: 60px; }

.portfolio__hash {
  display: block;
  text-align: left;
  color: #1d1c1c;
  font-family: "SourceSerifPro-Light"; }

.portfolio__product {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #1d1c1c;
  font-family: "SourceSerifPro-Bold"; }

.portfolio__title {
  text-transform: uppercase;
  margin: 0 0 40px;
  color: #1d1c1c;
  font-family: "SourceSerifPro-Semibold";
  position: relative;
  text-align: center;
  font-size: 20px; }
  .portfolio__title::before {
    width: 2px;
    height: 30px;
    background-color: #cb98a8;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-right: -10px;
    top: -60px; }

.portfolio__detail {
  width: 100%;
  height: 550px;
  background-image: url(../img/portfolio-bg__s5--mobile-.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.portfolio__detail-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 20px; }

.portfolio__caption {
  font-family: "SourceSerifPro-Semibold";
  font-size: 24px; }

.portfolio__description {
  font-family: "SourceSerifPro-Regular";
  line-height: 20px;
  font-weight: bold;
  opacity: .9;
  width: 80%; }

.accent-point__wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.portfolio__accent-point {
  margin-right: 20px; }

@media (min-width: 768px) {
  .portfolio {
    max-width: none;
    width: 100%;
    background-image: url("../img/page-main__bg--tablet.jpg");
    background-repeat: repeat-y;
    background-position: center;
    padding-top: 160px; }
  .portfolio__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    width: 90%; }
  .portfolio__title {
    font-size: 28px;
    margin-bottom: 80px; }
  .portfolio__column {
    width: 25%; }
  .portfolio__column--one {
    width: 35%; }
  .portfolio_column--two {
    margin-left: 20px;
    margin-right: 20px; }
  .portfolio__detail {
    background-image: none;
    background-color: #f8f8f8;
    width: 80%;
    height: 550px; }
  .portfolio__detail-wrap {
    background-image: url(../img/portfolio__leaf--5tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 105%;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .portfolio__about {
    width: 50%; }
  .portfolio__caption {
    color: #1d1c1c; }
  .portfolio__description {
    color: #1d1c1c; }
  .accent-point__wrap {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .portfolio__accent-point {
    margin-right: 20px; } }

@media (min-width: 1200px) {
  .portfolio {
    background-image: url("../img/page-main__bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    position: relative; }
  .portfolio__wrapper {
    width: 80%; }
  .portfolio__pages {
    position: absolute;
    left: 50px;
    top: 30%; }
  .portfolio__detail {
    height: 700px; }
  .portfolio__detail-wrap {
    background-image: url(../img/portfolio__leaf--5desktop.png);
    background-size: 100%; }
  .portfolio__about {
    width: 40%; } }

.accent-point {
  display: block;
  width: 160px;
  height: 25px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #fff; }
  .accent-point span {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    width: 25px;
    height: 2px;
    background-color: #fff; }

.pages {
  display: none; }

@media (min-width: 768px) {
  .accent-point {
    color: #1d1c1c;
    border-bottom: 2px solid #1d1c1c; }
    .accent-point span {
      background-color: #1d1c1c; } }

@media (min-width: 1200px) {
  .pages {
    width: 20%;
    display: block; }
  .pages__page {
    width: 15px;
    height: 35px;
    border-bottom: 2px solid #c8c9ca; }
  .pages__page--active {
    width: 35px;
    border-bottom: 2px solid #1d1c1c;
    color: #747474;
    text-align: center;
    font-family: "SourceSerifPro-Light";
    font-size: 16px; } }

.about-me {
  height: auto;
  max-width: 420px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 40px; }

.about-me__title {
  margin: 0 0 40px;
  color: #1d1c1c;
  font-family: "SourceSerifPro-Semibold";
  position: relative;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 22px; }
  .about-me__title::before {
    width: 2px;
    height: 30px;
    background-color: #cb98a8;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-right: -10px;
    top: -20px; }

.about-me__wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.about-me__left {
  width: 50%;
  height: 300px;
  background-image: url(../img/aboutme-bg__mobile--left.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: -60px; }

.about-me__right {
  width: 45%;
  height: 300px;
  background-image: url(../img/aboutme-bg__mobile--right.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

.about-me__center {
  width: 90%;
  margin: 0 auto;
  color: #1d1c1c;
  text-align: center;
  opacity: .8; }

.about-me__accent-point {
  text-align: center;
  margin: 0 auto;
  width: 200px;
  color: #1d1c1c;
  border-bottom: 2px solid #1d1c1c; }
  .about-me__accent-point span {
    background-color: #1d1c1c; }

.about-me__text-1 {
  font-family: "SourceSerifPro-Regular"; }

.about-me__text-2 {
  font-family: "SourceSerifPro-Regular"; }
  .about-me__text-2 span {
    font-weight: bold; }

@media (min-width: 768px) {
  .about-me {
    max-width: none;
    background-image: url("../img/page-main__bg--tablet.jpg");
    background-repeat: repeat-y;
    background-position: center;
    padding-top: 80px; }
  .about-me__wrap {
    width: 80%;
    margin: 0 auto; }
  .about-me__left {
    height: 450px;
    background-size: auto;
    background-image: url(../img/aboutme-bg__tablet--left.jpg);
    margin-top: -80px; }
  .about-me__right {
    height: 450px;
    width: 50%;
    background-size: auto;
    background-image: url(../img/aboutme-bg__tablet--right.jpg); }
  .about-me__center {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about-me__center-left {
    width: 50%;
    text-align: left;
    margin-top: -40px;
    line-height: 24px; }
  .about-me__text-1 {
    width: 80%; }
  .about-me__center-right {
    width: 45%;
    text-align: left;
    font-size: 16px;
    line-height: 24px; }
  .about-me__accent-point {
    margin: 0; } }

@media (min-width: 1200px) {
  .about-me {
    max-width: none;
    background-image: url("../img/page-main__bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    position: relative; }
  .about-me__title {
    font-size: 28px; }
  .about-me__pages {
    position: absolute;
    left: 50px;
    top: 60%; }
  .about-me__left {
    width: 30%; }
  .about-me__right {
    width: 30%; }
  .about-me__center {
    padding: 0 0 50px;
    width: 35%;
    background-color: #f8f8f8;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto; }
  .about-me__left {
    margin-right: 20px; }
  .about-me__center-left {
    margin: 0;
    color: #1d1c1c; }
  .about-me__text-1 {
    width: 100%; }
  .about-me__text-2 {
    text-align: left; }
  .about-me__center-right {
    margin: 0;
    color: #1d1c1c; } }

.prices {
  height: auto;
  max-width: 420px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 40px; }

.prices__title {
  margin: 0 0 40px;
  color: #1d1c1c;
  font-family: "SourceSerifPro-Semibold";
  position: relative;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 22px; }
  .prices__title::before {
    width: 2px;
    height: 30px;
    background-color: #cb98a8;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-right: -10px;
    top: 20px; }

.prices__wrap {
  width: 90%;
  margin: 0 auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.prices__column {
  margin-bottom: 60px; }

.prices__img {
  margin-bottom: 20px; }

.prices__time-price {
  color: #8eb574;
  font-family: "SourceSerifPro-Semibold";
  font-weight: bold;
  text-align: center;
  margin: 0; }

.prices__time-price--two {
  position: relative;
  width: 200px;
  margin-left: 40%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .prices__time-price--two span {
    display: block;
    width: 15px;
    height: 2px;
    background-color: #8eb574;
    margin-right: 10px; }

.prices__text {
  color: #1d1c1c;
  opacity: .9;
  text-align: center;
  font-size: 20px;
  font-family: "SourceSerifPro-Regular"; }

@media (min-width: 768px) {
  .prices {
    max-width: none;
    background-image: url("../img/page-main__bg--tablet.jpg");
    background-repeat: repeat-y;
    background-position: center;
    padding-top: 80px; }
  .prices__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .prices__title {
    margin-bottom: 100px; }
  .prices__column-one {
    width: 35%; }
  .prices__column-two {
    width: 30%;
    margin-top: -50px; }
  .prices__column-three {
    width: 30%; }
  .prices__time-price--two {
    margin-left: 30%; }
  .prices__text {
    font-size: 16px; } }

@media (min-width: 1200px) {
  .prices {
    background-image: url("../img/page-main__bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    position: relative; }
  .prices__pages {
    position: absolute;
    top: 40%;
    left: 50px; }
  .prices__wrap {
    width: 80%; }
  .prices__title {
    font-size: 28px; } }

.contacts {
  height: auto;
  max-width: 420px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 40px; }

.contacts__wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }

.contacts__title {
  margin: 0 0 40px;
  color: #1d1c1c;
  font-family: "SourceSerifPro-Semibold";
  position: relative;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
  font-size: 22px; }
  .contacts__title::before {
    width: 2px;
    height: 30px;
    background-color: #cb98a8;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-right: -10px;
    top: -20px; }

.contacts__social-text {
  color: #747474;
  font-family: "SourceSerifPro-Semibold";
  font-weight: bold;
  text-align: center;
  margin: 0; }

.contacts__span2 {
  margin: 0 10px; }

.contacts__column {
  margin-bottom: 20px;
  width: 100%; }

.contacts__socials {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

@media (min-width: 768px) {
  .contacts {
    padding: 0;
    max-width: none;
    background-image: url("../img/page-main__bg--tablet.jpg");
    background-repeat: repeat-y;
    background-position: center;
    padding-bottom: 60px; }
  .contacts__wrap {
    width: 90%; }
  .contacts__socials {
    width: 20%; } }

@media (min-width: 1200px) {
  .contacts {
    background-image: url("../img/page-main__bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    padding-bottom: 140px; }
  .contacts__wrap {
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .contacts__column {
    width: 30%; }
    .contacts__column:nth-child(4) {
      width: 40%; }
  .contacts__socials {
    width: 40%; }
  .contacts__title {
    font-size: 28px; } }

.main-nav {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: auto; }

.main-nav__wrapper {
  z-index: 1; }

.list-desktop {
  display: none; }

.main-nav__toggle {
  position: absolute;
  right: 15px;
  top: 8px;
  z-index: 2;
  margin-top: 8px;
  margin-right: 15px;
  width: 25px;
  height: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(../img/burger--mobile.png);
  background-repeat: no-repeat;
  background-position: center; }

.main-nav--closed .main-nav__list {
  display: none; }

.main-nav--opened .main-nav__list {
  display: inherit; }

.main-nav--opened .main-nav__toggle {
  width: 15px;
  height: 15px;
  outline: none;
  border: none;
  background-image: url(../img/burger__closed--mobile.png);
  background-repeat: no-repeat;
  background-position: center; }

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8; }

.main-nav__list {
  text-align: center;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0; }

.site-list__item {
  display: block;
  padding: 20px 0; }

.site-list__link {
  text-decoration: none;
  color: #1d1c1c;
  font-family: "SourceSerifPro-Semibold";
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 4px solid #8eb574; }

@media (min-width: 768px) {
  .main-nav__toggle {
    position: relative;
    margin-top: 20px;
    height: 15px;
    width: 40%;
    background-image: url(../img/burger--tablet.png);
    z-index: 200; }
  .main-nav--opened .main-nav__wrapper {
    z-index: 2; }
  .main-nav--opened .main-nav__toggle {
    position: absolute;
    right: 20px; } }

@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    display: none; }
  .main-nav .main-nav--closed {
    display: none; }
  .list-desktop {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 0; }
  .list-desktop__item {
    padding: 20px 20px; }
  .list-desktop__link {
    text-decoration: none;
    color: #747474;
    font-family: "SourceSerifPro-Semibold";
    font-size: 20px; }
  .logotype {
    position: relative;
    width: 30%; }
  .main-nav__wrapper {
    width: 70%;
    position: relative; } }
